@import 'variables';

.wrapper {
  @include m-shadow;
}

.header {
  padding: 20px;
  position: sticky;
  background: $background;
  border-bottom: 1px solid $divider;
  z-index: 1;

  @media #{$mobile} {
    position: sticky;
    top: 55px;
  }
}

.list {
  height: calc(100vh - 56px - 62px);
  overflow: auto;
  margin-top: -1px;
  margin-left: -1px;

  @media #{$mobile} {
    margin-left: 0;
    height: 100%;
  }
}

.section-header {
  padding: 12px 20px;
}

.section-title {
  @include h4;
}

.section-text {
  @include s-text;

  color: $textSecondary;
}

.lecture-wrapper {
  padding: 14px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: grid;
  grid-template-columns: auto 1fr;

  &:hover {
    background: $actionHover;
  }
}

.selected {
  background: $actionFocus;
}

.lecture-title {
  @include h5;
}

.icon {
  height: 16px;
  fill: $textSecondary;
}

.lecture-text {
  @include s-text;

  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 4px;
  color: $textSecondary;
}
