@import 'variables';

.wrapper {
  @media #{$tablet} {
    margin-bottom: 100px;
  }
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  background: #1c1d1f;
  color: $white;
}

.content {
  max-width: 70%;
  padding: 40px;
  display: grid;
  gap: 20px;

  @media #{$tablet} {
    max-width: 100%;
  }
}

.pros {
  display: grid;
  gap: 20px;
  padding: 20px;
  background: rgb(247 247 247);
  border: 1px solid $divider;
}

.pros-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-top: 16px;
}

.row {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
  align-items: center;
}

.material {
  display: grid;
  gap: 20px;
  margin-top: 20px;
}
.section-header {
  padding: 12px 20px;
}

.section-title {
  @include h4;
}

.section-text {
  @include s-text;

  color: $textSecondary;
}

.lecture-wrapper {
  padding: 14px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: grid;
  grid-template-columns: auto 1fr;

  &:hover {
    background: $actionHover;
  }
}

.selected {
  background: $actionFocus;
}

.lecture-title {
  @include h5;
}

.icon {
  height: 16px;
  fill: $textSecondary;
}

.lecture-text {
  @include s-text;

  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 4px;
  color: $textSecondary;
}

.dark {
  // todo: make Paper
  .pros {
    background: #1e1e1e;
  }

  .course-card {
    background: #1e1e1e;
  }
}

.course-card {
  @include s-shadow;

  position: fixed;
  top: 100px;
  width: 25%;
  right: 40px;
  color: $textPrimary;
  border: 1px solid $divider;
  background: rgb(247 247 247);

  @media #{$tablet} {
    display: none;
  }
}

.card-image {
  object-fit: cover;
  width: 100%;
}

.card-body {
  padding: 20px;
}

.card-list {
  display: grid;
  gap: 8px;
  margin-bottom: 20px;
  color: $textSecondary;
}

.price {
  @include g-text;
  margin: 10px 0;
}

.mobCard {
  @include s-shadow;

  display: none;
  z-index: 999;
  background: #1c1d1f;
  width: 100%;
  left: 0;
  padding: 20px;
  align-items: center;
  gap: 20px;
  border-top: 1px solid $divider;
  grid-template-columns: 1fr auto auto;

  @media #{$tablet} {
    display: grid;
    position: fixed;
    bottom: 0;
  }
}

.mob-title {
  @include l-text;
}

.mob-price {
  @include text;
}
