@import 'variables';

.wrapper {
  @media #{$tablet} {
    margin-bottom: 75px;
  }

  @media #{$mobile} {
    margin-bottom: 68px;
  }
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  color: $white;
  background: $backgroundPaper;
  border-bottom: 1px solid $divider;
}

.dark {
  .header {
    background: #1c1d1f;
  }
}

.title {
  @include h1(100);
  color: $textPrimary;
}

.text {
  @include m-text;
  color: $textSecondary;
  line-height: 1.5;
}

.title {
  @include h1(100);
}

.text {
  @include text;
}

.content {
  max-width: 70%;
  padding: 40px;
  display: grid;
  gap: 20px;

  @media #{$tablet} {
    max-width: 100%;
    padding: 20px;
  }
}
