@import 'variables';

.wrapper {
  @media #{$tablet} {
    margin-bottom: 75px;
  }

  @media #{$mobile} {
    margin-bottom: 68px;
  }
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  background: #1c1d1f;
  color: $white;
}

.title {
  @include h1(100);
}

.text {
  @include text;
}

.content {
  max-width: 70%;
  padding: 40px;
  display: grid;
  gap: 20px;

  @media #{$tablet} {
    max-width: 100%;
    padding: 20px;
  }
}
