@import 'variables';

.wrapper {
  height: calc(100vh - 56px);
  overflow: hidden;
}
.slider {
  height: calc(100vh - 56px);
  transition: all 0.5s ease-in-out;
}

.slide {
  display: grid;
  place-items: center;
  height: calc(100vh - 56px);
}

.actions {
  display: flex;
  gap: 20px;
  justify-self: end;
}
