@import 'variables';

.wrapper {
  display: grid;
  width: 90%;
  margin: 52px auto;

  @media #{$mobile} {
    width: 100%;
  }
}

.header {
  display: grid;
  place-items: center;
}

.avatar {
  @include circle(130px);
  fill: $textSecondary;
}

.title {
  @include h3(900);
}

.form {
  display: grid;
  gap: 18px;
  margin: 25px;
}

.raw {
  gap: 14px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.btn {
  margin-top: 18px;
}
