@import 'variables';

.chipsWrapper {
  position: sticky;
  z-index: 1;
  top: 56px;
  background: $background;
}

.chips {
  display: grid;
  gap: 12px;
  grid-auto-flow: column;
  width: 100vw;
  overflow-x: auto;
  justify-content: start;
  padding: 12px 24px;
  background: $actionHover;
  border-bottom: 1px solid $divider;
}
