@import 'variables';

.skills {
  display: grid;
  gap: 20px;
  padding: 20px;
  background: $backgroundPaper;
  border: 1px solid $divider;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-top: 16px;

  @media #{$mobile} {
    grid-template-columns: 1fr;
  }
}

.row {
  display: grid;
  grid-template-columns: 16px 1fr;
  gap: 12px;
  align-items: center;
}

.title {
  @include h3;
}

.icon {
  height: 22px;
  //fill: #3c8aeb;
  fill: #0076fa;
}
