@import 'variables';

.course-card {
  @include s-shadow;

  position: fixed;
  z-index: 1;
  top: 100px;
  right: 40px;
  width: max(340px, 25%);
  color: $textPrimary;
  border: 1px solid $divider;
  background: rgb(247 247 247);

  @media #{$tablet} {
    display: none;
  }
}

.card-image {
  object-fit: cover;
  width: 100%;
}

.card-body {
  padding: 20px;
}

.card-list {
  display: grid;
  gap: 12px;
  margin-bottom: 20px;
  color: $textSecondary;
}

.row {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
  align-items: center;
}

.icon {
  @include square(24px);

  fill: $textPrimary;
}

.price {
  @include g-text;
  margin: 10px 0;
}

.dark {
  background: #1e1e1e;
}
