@import 'variables';

.wrapper {
  @include s-text;

  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-radius: 16px;
}

// variant
.filled {
  background: $actionSelected;
}

.outlined {
  background: none;
  border: 1px solid $primaryMain;
}

// Size
.medium {
  @include text;

  height: 32px;
  padding: 0 12px;
}

.small {
  @include s-text;

  height: 24px;
  padding: 0 8px;
}

// Colors
.default {
  color: $textPrimary;
  border: 1px solid $divider;

  &:hover {
    background: $actionHover;
  }
}

.primary {
}

.secondary {
}

.error {
}

.info {
}

.success {
}

.warning {
}

.active {
  background: $actionActive;
  color: $primaryContrastText;

  &:hover {
    background: $actionActive;
  }
}
