@import 'variables';

.wrapper {
  display: grid;
  gap: 40px;
  padding: 20px;
  height: 100%;
  border-radius: 8px;
  align-content: center;
  overflow: auto;
  width: min(100%, 850px);
}

.question {
  @include h3;

  @media #{$mobile} {
    @include h4;
  }
}

.answer {
  margin: 12px 0;
}
