@import 'variables';

.wrapper {
  @include m-shadow;

  position: fixed;
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto 1fr;
  justify-items: end;
  height: 56px;
  padding: 0 20px;
  align-items: center;
  gap: 14px;
  z-index: 999;
  background: $secondaryMain;
  color: $secondaryContrastText;
}

.dark {
  background-color: $background;
  background-image: linear-gradient(#ffffff17, #ffffff17);
  color: $textPrimary;
}

.logo {
  @include square(56px);
}

.title {
  @include h4(600);
}

.menu {
  display: flex;
  gap: 20px;
}

.content {
  padding-top: 56px;
}
