@import 'variables';

.popup {
  width: 280px;
  padding: 24px;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 20%) 0 11px 15px -7px, rgb(0 0 0 / 14%) 0px 24px 38px 3px, rgb(0 0 0 / 12%) 0px 9px 46px 8px;
  background: $background linear-gradient(rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16));
}

.title {
  @include h4(600);
}

.info {
  @include text;
  margin-top: 8px;
  font-weight: 100;
  margin-bottom: 24px;
}

.divider {
  margin-top: 8px;
  margin-bottom: 8px;
  border-width: 0;
  border-style: solid;
  border-color: $divider;
  border-bottom-width: thin;
}

.list {
  margin: 24px 0;
}

.item {
  display: flex;
  gap: 12px;
  margin: 12px 0;
}
