@import 'variables';

.wrapper {
  @include link-reset;
  @include text;
  position: relative;

  color: $primaryMain;
  text-decoration: underline;

  &:hover {
    text-decoration-color: $primaryMain !important;
  }
}

.large {
  @include m-text;
}

.medium {
  @include text;
}

.small {
  @include s-text;
}
