@import 'variables';

.course {
  cursor: pointer;

  &:hover {
    .play-wrapper {
      opacity: 1;
    }
  }
}

.cover {
  position: relative;
  overflow: hidden;
}

.image {
  aspect-ratio: 16/10;
  display: block;
}

.course-title {
  @include h6(900);

  margin-top: 4px;
  color: $textPrimary;

  @media #{$mobile} {
    @include h5(900);
  }
}

.play-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.8);
  color: $white;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
